.map
{
    /*-moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    -o-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);*/
}
.esriSimpleSlider div {
    width: 40px !important;
}

.esriSimpleSlider
.esriSimpleSliderTL,
.esriSimpleSliderVertical
{
    /*-moz-transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    -ms-transform:rotate(10deg);*/

    background-color: #0086a8; /* Green */
    text-align: center;
    border: none;
    color: white;
    width: 40px !important;
    /*top: 30px;
        left:30px;*/
    /*line-height: 250px;*/
    border-radius: 0px 0px 0px 0px !important;
    -webkit-border-radius: 0px 0px 0px 0px;
    /*font-size: 16px;*/
}

.esriSimpleSliderBR {
    bottom: 40px;
    right: 25px;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    border-radius: 0px 0px 0px 0px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton:hover,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton:hover {    
    background-color: rgb(102, 102, 102);    
    background-color: rgba(102, 102, 102, 0.9);    
}   


.input-check {
    display: block;
    height: 30px;
    background: #f4f5f7;
    border: 1px solid #ccc;
    /*width: 40px;*/
    color: black;
    text-align: center;
    line-height: 30px;
    margin: 0 0 0 0; 
    font-size: 16px;
}
    /* This is the style for a checked "button" */
    .input-check.checked {
        background: #dce2ea;
        /*box-shadow:3px 3px 3px #888888;*/
        color: black;
    }
    /* Hide the checkbox */
    .input-check input {
        display: none;
    }

/*.arcgisSearch .searchMenu {
    color: #F0F;
}*/

.arcgisSearch {
    display: block;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
    box-shadow: 9px 6px 22px 3px rgba(0,0,0,0.75);
    padding: 5px;
    /*border: solid 1px black;*/
    background: white;
    border-bottom: solid 1px lightgrey;
}

.arcgisSearch .searchGroup .searchInput {
    border: #9B9B9B 1px solid;
}


.store-name{
    font-size: 16px;
    font-weight: bold;
    color: #fff;    
}
.store-opening-hours{
    color:white;
}
.phone-number{
    color:white
}
.store-level{
     color:white
}


.popup{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0086a8;
    background: #0086a8;    
    /*padding: 10px 15px;*/
    font-size: 14px;
    z-index: 6;
    border-color:white;
}

a:link {
    text-decoration: none;
}
.esriPopup .contentPane,
.esriPopup .actionsPane,
.esriPopup .pointer,
.esriPopup .outerPointer
 {
    background-color:#0086a8; 
    background:#0086a8;    
    border: 1px solid #fff;
    border-color:white;
}
.esriPopup .actionsPane{
     display: none;  
}
.esriPopup a {
    color: aqua;
}
.esriPopup .sizer {
    width: 150px;
}
#map_infowindow {
    border: 1px solid #fff;
    border-color:white;
}
.pointer bottom{

}

.esriSimpleSliderHomeButton {  
 background-position: center !important;  /*center;*/    
    border-bottom: 1px solid #666666;    
    background: url(http://jsdev.arcgis.com/3.11/esri/dijit/images/home.png);  
    background-repeat: no-repeat;  
}    
.esriSimpleSliderHomeButton:hover {    
    background-color: rgb(102, 102, 102);    
    background-color: rgba(102, 102, 102, 0.9);    
}

.view-centre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: block;
    background-color: white;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 10;
    opacity: 0.8;
    border-radius: 0;
    font-weight: 100;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 200px;
}